* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../photos/bk.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    background-color: rgb(239, 255, 214, 0.8);
}

.sidebar h3 {
    font-size: 2rem;
    padding: 1rem 0 1rem 1rem;
    width: 20%;
}

.sidebar h3 span {
    display: inline-block;
    width: 50%;
    padding-left: 1rem;
    color: orangered;
}

.container {
    width: 100%;
}

.easy {
    display: none;
    width: 60%;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: 0 auto;
}

.easy img {
    width: 25%;
    height: 25%;
}

.normal {
    display: none;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: 0 auto;
}

.normal img {
    width: 20%;
    height: 20%;
}

.hard {
    display: none;
    width: 70%;
    flex-wrap: wrap;
    padding-top: 1rem;
    margin: 0 auto;
}

.hard img {
    width: 12%;
    height: 12%;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /*Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}
.end-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /*Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content,
.endmodal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 255, 214, 0.8);
    margin: 6rem auto;
    padding: 3rem;
    border: 0.5rem solid rgba(51, 52, 50);
    border-radius: 1.5rem;
    width: 40%;
}

.modal-content h3 {
    font-size: 3rem;
}

.modal-content p,
.endmodal-content p {
    padding: 1rem;
    font-size: 2rem;
}

.modal-content p:hover,
.endmodal-content p:hover {
    cursor: pointer;
    padding: 0.9rem;
    font-size: 2.2rem;
    color: orangered;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(239, 255, 214, 0.9);
}

.statistics li {
    width: 50%;
    font-size: 1rem;
    font-size: large;
    font-weight: bold;
}

.statistics li span {
    padding-left: 1rem;
    color: orangered;
}

#time {
    display: inline-block;
    width: 50%;
}
