* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    margin: 0 auto;
}

#grid img {
    width: 20%;
    height: 20%;
}
